.navbar1 
{
    width: 283px;
    height: 1000px;
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    position: fixed;
    z-index: 2;
}

.LogoNav
{
    padding-top: 33px;
}

.TextNav
{   
    z-index: 10;
    width: 283px;
    height: 40px;
    line-height: 20px;
    font-size: 14px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 1px;
    vertical-align: middle;
    align-items: center;
    color: white;
    text-align: center;
}

.lala:after {
    display: block;
    top: -1px;
    left: 0;
    width: 283px;
    height: 1px;
    background: rgba(157,157,157,0.06);
    content: "";
}

.lala 
{
    width: 0%;
    height: 40px;
    
}

.lala:hover
{
    z-index: 0;
    width: 100%;
    background-color: #333;
    animation: place 0.2s linear;
}

 @keyframes place 
{
    0%
    {
        width: 0%;
    }

    100%
    {
        width: 100%;
    }
}

.lolo
{
    width: 283px;
    height: 40px;
}

.RefNav.active 
{
    background-color: #9b886a;
    color: #1a1a1a;
    font-weight: bold;
}

.highlist 
{
    list-style-type: none;
    margin: 0;
    padding: 20px 0 0;
    text-align: center;
    height: 410px;
    vertical-align: middle;
}

.RefNav 
{
    padding: 10px;
    line-height: 20px;
    display: block;
    color: white;
    text-decoration: none;
}

.RefNav:hover
{
    color: #9b886a;
}

.RefNav.active:hover
{
    color: black;
}

.place 
{   
    width: 283px;
    height: 42px;
    bottom: 18%;
    position: absolute;
    text-align: center;
    font-size: 14px;
    display: flex;
}

.Icon 
{
    width: 30px;
    margin-left: 10px;
    color: #9b886a;
}

.links-place
{
    margin-left: 10px;
    width: 160px;
}

.RefNav2 
{
    color: #9b886a;
    font-size: 14px;
}

.toggle 
{
    position: relative;
    width: 70px;
    height: 70px;
    background: transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    display: none;
}

.toggle span 
{
    position: absolute;
    width: 40px;
    height: 4px;
    border-radius: 4px;
    background: #ac956e;
    transition: 0.5s;
}

.toggle span:nth-child(1)
{
    transform: translateY(-15px);
    width: 40px;
    left: 15px; 
    background: #ac956e;
}

.toggle span:nth-child(2)
{
    transform: translateY(15px);
    width: 40px;
    left: 15px;
    background: #ac956e; 
}


.toggle:hover span 
{
    position: absolute;
    width: 40px;
    height: 4px;
    border-radius: 4px;
    background: #ac956e;
    transition: 0.5s;
}

.toggle:hover span:nth-child(1)
{
    transform: translateY(-15px);
    width: 40px;
    left: 15px; 
    background: #ac956e;
}

.toggle:hover span:nth-child(2)
{
    transform: translateY(15px);
    width: 40px;
    left: 15px;
    background: #ac956e;
}

.toggle.active span:nth-child(1)
{
    width: 40px;
    transform: translateY(0px) rotate(45deg);
    transition-delay: 0.125s;
    background: #ac956e;
}

.toggle.active span:nth-child(2)
{
    width: 40px;
    transform: translateY(0px) rotate(315deg);
    transition-delay: 0.25s;
    background: #ac956e;
}

.toggle.active span:nth-child(3)
{
    transform: translateX(60px);
    background: #ac956e;
}

.activeNav
{
    display: block !important;
}